@use 'styles/variables' as *;
@use 'styles/typography';
@use 'styles/animations';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $creme;
  color: $anthracite;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}